/**********************************
		SCREEN 1024PX
***********************************/
@media all and (max-width: 1024px) 
{
	/**************
	 	HAMBURGER
	****************/
	#hamburger-button{
		display: block;
	}

	#mobile-view {
		display: flex;
		justify-content: space-around;
	}

	#menu {
		flex-direction: column;
	}

	#menu nav {
		display: none;
	}

	.menu-mobile {
		display: block!important;
	}

	#menu nav ul {
		display: flex;
	    align-items: center;
	    justify-content: space-around;
		padding: 0;
		margin: 0;
	}

	#menu nav ul li, #menu nav ul li a {
		text-align: center;
		display: block;
		width: 100%;
		height: 100%;
		padding: 5px;
		margin: 0; 
	}

	#menu nav ul li a:hover {
		background-color: #6d7a87;
	}

	.overlay-menu
	{
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 98;
		background-color: rgba(0, 0, 0, 0.7);
	}
}

/**********************************
		SCREEN 768PX
***********************************/
@media all and (max-width: 768px) 
{
	/************
		NAV-BAR
	*************/
	 #menu nav ul{
		flex-direction: column;
	}

	#edit-form, #add-post-form, #account-form, #login-form, #form-comment{
		width: 100%;
    	box-sizing: border-box;
	}

	#edit-form textarea, #add-post-form textarea, #form-comment textarea{
		box-sizing: border-box;
		width: 100%;
	}
}

/**********************************
		SCREEN 598PX
***********************************/
@media all and (max-width: 598px) 
{
	#content{
		padding: 5px;
	}
	/****************
		LES TITRES	
	*****************/

	#post h1, #accueil h1, #admin-interface h1, #admin-post h1,
	#all_comments h1, #content h1, #edit-selected h1, #add-post h1, 
	#account h1 {
		padding: 5px;
		box-sizing: border-box;
		overflow-wrap: break-word;
	}

	#admin-interface aside{
		display: flex;
		flex-direction: column;
	}
}

/**********************************
		SCREEN 448PX
***********************************/
@media all and (max-width: 448px) 
{
	/************
		HEADER
	*************/
	 #mobile-view{
		flex-direction: column;
	}

	#menu p{
		text-align: center;
	}

	/**************
		TABLEAU
	***************/

	table, thead, tbody, tr{
		display: flex;
		flex-direction: column;
	}

	tr {
		padding: 0!important;
	}
	td {
		text-align: center;
	}

	#posts-button {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}