/*******************************************
*               CORPS DU SITE
*********************************************/
body
{
	margin: 0;
	font-family: 'Merriweather', serif;
	background: url(../images/img1.jpg);
	background-attachment: fixed;
}

a
{
	text-decoration: none;
	color: #007bff;
}

a:hover
{
	text-decoration: underline;
}

/*******************************************
*                   HEADER
*********************************************/
header 
{
	box-shadow: 0 0 10px black;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #343a40;
}

header h1 a
{
	color: white;
	text-decoration: none;
}

header nav
{
	display: flex;
	justify-content: space-between;
}

header nav p a
{
	color: white;
	text-decoration: none;
	margin: 10px;
}

header nav p a:hover
{
	color: white;
	font-weight: bold;
	text-decoration: none;
}

/*******************************************
*               CONTENU
*********************************************/
#content
{
	max-width: 1024px;
	padding: 50px;
	margin: 50px auto;
	background-color: white;
}

#content h1
{
	text-align: center;
}

/**************
	ACCUEIL
***************/

#accueil h1
{
	margin-bottom: 100px;
	background-color: #e5e6e8;
	padding: 30px;
}

/**************
	POST
***************/

#post h1
{
	margin-bottom: 100px;
	background-color: #e5e6e8;
	padding: 30px;
}

#post
{
	margin-bottom: 40px;
}

#nav
{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin-bottom: 70px;
}

/******************
 LES COMMENTAIRES
*******************/

/* COMMENTS POST PAGE */

.comment
{
	padding: 20px;
	background-color: #e5e6e8;
	margin-bottom: 10px;
	border-radius: 5px;
}

.comment p:nth-child(3)
{
	text-align: right;
	font-size: 0.9em;
}

.more_comments
{
	text-align: center;
}

.more_comments button a
{
	text-decoration: none;
	font-weight: bold;
}

.more_comments button
{
	padding: 10px 15px;
	border: 1px solid #007bff;
	background-color: transparent;
	border-radius: 5px;
}

.more_comments button:hover
{
	background-color: #007bff;
}
.more_comments button:hover > a
{
	color: white;
}

/* COMMENT PAGE */

#form-comment
{
	text-align: center;
}

#form-comment input
{
	border-radius: 5px;
	border: 2px solid black;
}
#form-comment textarea
{
	border-radius: 5px;
	border: 2px solid black;
}

#form-comment button
{
	padding: 10px 15px;
	border: 1px solid #007bff;
	background-color: transparent;
	border-radius: 5px;
	color: #007bff;
}

#form-comment button:hover
{
	background-color: #007bff;
	color: white;
}

/*******************************************
*               LOGIN
*********************************************/
#login
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #343a40;
	color: white;
	padding: 50px;
}

#login-form
{
	text-align: center;
}
#login-form input
{
	margin-top: 10px;
	border: 2px solid white;
	border-radius: 5px;
	padding: 3px 10px;
}

#login-form button
{
	padding: 6px 20px;
	border-radius: 5px;
	cursor: pointer;
	background-color: transparent;
	border: 2px solid white;
	color: white;
}

#login-form button:hover
{
	background-color: white;
	border: 2px solid 343a40;
	color: #343a40;
	font-weight: bold;
}

/*******************************************
*               FOOTER
*********************************************/
footer
{
	margin: 0;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #343a40;
}

footer p
{
	color: white;
}