/*******************************************
*               CORPS DU SITE
*********************************************/
body
{
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Merriweather', serif;
	background: url(../images/img1.jpg);
	background-attachment: fixed;
}

a
{
	text-decoration: none;
	color: #007bff;
}

a:hover
{
	text-decoration: underline;
}

/*******************************************
*                   HEADER
*********************************************/
header 
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	top: 0;
	position: fixed;
	box-sizing: border-box;
	box-shadow: 0 0 10px black;
	background-color: #343a40;
	z-index: 99;
}

header h1 a
{
	text-decoration: none!important;
	font-size: 0.8em;
	font-weight: normal;
	color: white;
	margin-left: 50px;
}

#logo
{
	font-size: 1.3em;
	font-weight: bold;
}

header nav a
{
	color: white;
	margin: 5px;
	text-decoration: none;
}

header nav a:hover
{
	color: white;
	font-weight: bold;
	text-decoration: none;
}

header li 
{
	line-height: 70px;
	list-style: none;
	display: inline;
}

/********** 
 HAMBURGER
***********/
#hamburger
{
	display: flex;
}

#hamburger-button
{
	display: none;
	border: none;
	background: none;
	padding: none;
	font-weight: bold;
	font-size: 2em;
	color: white;
	cursor: pointer;
}

/*******************************************************
*               CONTENU DE LA DIV CONTENT
*****************************************************/
#content
{
	max-width: 1024px;
	padding: 50px;
	margin: 180px auto;
	background-color: white;
	box-shadow: 0 0 10px black;
}

#content h1
{
	text-align: center;
}

/*Erreurs*/
.error
{
	color: red;
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
}

/**************
	ACCUEIL
***************/
#accueil
{
	display: flex;
	flex-direction: column;
}

#accueil h1
{
	margin-bottom: 100px;
	background-color: #343a40;
	color: white;
	padding: 30px;
}

#accueil section
{
	background-color: #e8e8e8;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}

/**************
	POST
***************/

#post h1
{
	margin-bottom: 80px;
	color: white;
	background-color: #343a40;
	padding: 30px;
}

#post
{
	margin-bottom: 40px;
}

#nav
{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin-bottom: 70px;
}

/******************
 LES COMMENTAIRES
*******************/

/* COMMENTS POST PAGE */

.comment
{
	padding: 20px;
	background-color: #e8e8e8;
	margin-bottom: 10px;
	border-radius: 5px;
}

.comment p:nth-child(3)
{
	text-align: right;
	font-size: 0.9em;
}

.more_comments
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.more_comments button a
{
	text-decoration: none;
	font-weight: bold;
}

#comments input[type="submit"], #all_comments input[type="submit"] 
{
	padding: 5px 8px;
	background-color: transparent;
	color: red;
	border: 2px solid red;
	border-radius: 5px;
	cursor: pointer;
}

#comments input[type='submit']:hover, #all_comments input[type='submit']:hover
{
	background-color: red;
	color: white;
	border: 2px solid red;
}

.more_comments .button
{
	text-align: center;
	width: 200px;
	display: block;
	padding: 8px 18px;
	border: 1px solid #007bff;
	background-color: transparent;
	border-radius: 5px;
	color: #007bff;
	cursor: pointer;
	text-align: center;
}

.more_comments .button:hover
{
	background-color: #007bff;
	color: white;
	color: white;
	text-decoration: none;
}


/* COMMENT PAGE */

#all_comments h1
{
	margin-bottom: 50px;
	color: white;
	background-color: #343a40;
	padding: 30px;
}

#all_comments
{
	display: flex;
	flex-direction: column;
}

#all_comments h2
{
	align-self: center;
	margin-bottom: 80px;
}

#form-comment
{
	text-align: center;
}

#form-comment input
{
	border-radius: 5px;
	border: 2px solid black;
}
#form-comment textarea
{
	border-radius: 5px;
	border: 2px solid black;
}

#form-comment button
{
	padding: 10px 15px;
	border: 1px solid #007bff;
	background-color: transparent;
	border-radius: 5px;
	color: #007bff;
	cursor: pointer;
}

#form-comment button:hover
{
	background-color: #007bff;
	color: white;
}

/* REPORT */

.report input[type='submit']
{
	padding: 5px 15px;
	background-color: transparent;
	color: red;
	border: 2px solid red;
	border-radius: 5px;
	cursor: pointer;
}
.report input[type='submit']:hover
{
	background-color: red;
	color: white;
	border: 2px solid red;
}

/*******************************************
*               LOGIN
*********************************************/
#login
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #343a40;
	color: white;
	padding: 50px;
}

#login-form
{
	text-align: center;
}
#login-form input
{
	margin-top: 10px;
	border: 2px solid white;
	border-radius: 5px;
	padding: 3px 10px;
}

#login-form button
{
	padding: 6px 20px;
	border-radius: 5px;
	cursor: pointer;
	background-color: transparent;
	border: 2px solid white;
	color: white;
}

#login-form button:hover
{
	background-color: white;
	border: 2px solid #343a40;
	color: #343a40;
	font-weight: bold;
}


/*******************************************
*               ADMIN
*********************************************/

/*************
   forbidden
**************/
#forbidden
{
	text-align: center;
	border: 5px solid #343a40;
}

#forbidden h2 .fa-exclamation-triangle
{
	color: red;
}

#forbidden p 
{
	font-weight: bold;
}

/*************
   admin home
**************/
#admin-interface h1
{
	margin-bottom: 20px;
	background-color: #343a40;
	color: white;
	padding: 30px;
}

#admin-page
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#admin-page aside
{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

#admin-page aside p
{
	margin: 5px;
}

#admin-page p a
{
	display: block;
	padding: 10px 20px;
	border: 1px solid #007bff;
	background-color: transparent;
	border-radius: 5px;
	color: #007bff;
	cursor: pointer;
	text-align: center;
}

#admin-page a:hover
{
	background-color: #007bff;
	color: white;
	color: white;
	text-decoration: none;
}
#admin-page h3
{
	text-align: center;
}

table
{
	width: 100%;
	border-collapse: collapse;
	border: 2px solid #343a40;
}

table tbody tr, td
{
	border: 2px solid #343a40;
	text-align: center;
	padding: 15px;
}

table thead
{
	background-color: #343a40;
	color: white;
	padding: 20px;
}

/****************
   POSTS ADMIN
*****************/
#admin-post h1
{
	margin-bottom: 100px;
	background-color: #343a40;
	color: white;
	padding: 30px;
}

/*EDIT BUTTON*/
#admin-post .button
{
	text-align: center;
	width: 100px;
	display: block;
	padding: 8px 18px;
	border: 1px solid #007bff;
	background-color: transparent;
	border-radius: 5px;
	color: #007bff;
	cursor: pointer;
	text-align: center;
}

#admin-post .button:hover
{
	background-color: #007bff;
	color: white;
	color: white;
	text-decoration: none;
}

/*DELETE BUTTON*/
.delete input[type='submit']
{
	width: 138px;
	padding: 8px 18px;
	background-color: red;
	color: white;
	border: 2px solid red;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}

.delete input[type='submit']:hover
{
	background-color: transparent;
	color: red;
	border: 2px solid red;
}

/*PULL REPORT BUTTON*/
.pull_report input[type='submit']
{
	width: 138px;
	padding: 8px 18px;
	background-color: transparent;
	color: #007bff;
	border: 2px solid #007bff;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	margin-bottom: 10px;
}

.pull_report input[type='submit']:hover
{
	background-color: #007bff;
	color: white;
	border: 2px solid #007bff;
}


/*******************************
    ADD & EDIT ADMIN POST
*******************************/

#edit-selected h1, #add-post h1, #account h1
{
	margin-bottom: 100px;
	background-color: #343a40;
	color: white;
	padding: 30px;
}

#edit-form, #add-post-form
{
	text-align: center;
}

#edit-form input[type="text"], #add-post-form input[type="text"]
{
	border-radius: 5px;
	width: 90%;
	padding: 8px;
	border: 2px solid black;
}

/************************************************
 CONFIRMATION ADD & CONFIRMATION EDIT ADMIN POST
************************************************/
/* Button */

#edit-form input[type='submit'], #add-post-form input[type='submit']
{
	padding: 5px 15px;
	background-color: transparent;
	color: #007bff;
	border: 2px solid #007bff;
	border-radius: 5px;
	cursor: pointer;
}
#edit-form input[type='submit']:hover, #add-post-form input[type='submit']:hover
{
	background-color: #007bff;
	color: white;
	border: 2px solid #007bff;
}

/****************
	ACCOUNT
*****************/

#account form 
{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #343a40;
	color: white;
	border-radius: 5px;
	padding: 50px;
}

#account form input
{
	margin-top: 10px;
	padding: 5px;
	border-radius: 5px;
	border: 2px solid black;
}

#account input[type="submit"]
{
	padding: 5px 15px;
	background-color: transparent;
	color: white;
	border: 2px solid white;
	border-radius: 5px;
	cursor: pointer;
}

#account input[type="submit"]:hover
{
	background-color: #007bff;
	color: white;
	border: 2px solid #007bff;
}

/*******************************************
*               FOOTER
*********************************************/
footer
{
	margin: 0;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #343a40;
}

footer p
{
	color: white;
}