/*******************************************
*               CORPS DU SITE
*********************************************/
body
{
	margin: 0;
	font-family: 'Merriweather', serif;
}

a
{
	text-decoration: none;
	color: #007bff;
}

a:hover
{
	text-decoration: underline;
}

/*******************************************
*                   HEADER
*********************************************/
header 
{
	box-shadow: 0 0 10px black;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #343a40;
}

header h1 a
{
	color: white;
	text-decoration: none;
}

header nav
{
	display: flex;
	justify-content: space-between;
}

header nav p a
{
	color: white;
	text-decoration: none;
	margin: 10px;
}

header nav p a:hover
{
	color: white;
	font-weight: bold;
	text-decoration: none;
}

/*******************************************
*               CONTENU
*********************************************/
#content
{
	max-width: 1024px;
	padding: 50px;
	margin: 50px auto;
	background-color: white;
}

#content h1
{
	text-align: center;
}

/*******************************************
*               FOOTER
*********************************************/
footer
{
	margin: 0;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #343a40;
}

footer p
{
	color: white;
}